<div data-dojo-attach-point="divAddressContainer" align="center" class="esriCTAddressContainer"
    style="display: none">
    <div data-dojo-attach-point="divAddressHolder" class="esriCTHideContainerHeight esriCTAddressHolder">
        <div data-dojo-attach-point="divAddressContent" class="esriCTAddressContent">
            <div data-dojo-attach-point="divAddressResultContainer" class="esriCTAddressResultContainer">
                <div class="esriCTFullWidth">
                    <div class="esriCTInnerAddressResultContainer">
                        <div class="esriCTSearchTab">
                            <span data-dojo-attach-point="tdSearchAddress" class="esriCTSearchByAddress"></span>
                            <span data-dojo-attach-point="tdSearchFeature" class="esriCTSearchByUnSelectedFeature">
                            </span><span data-dojo-attach-point="tdSearchActivity" class="esriCTSearchByUnSelectedActivity">
                            </span>
                        </div>
                    </div>
                    <div data-dojo-attach-point="tdAddressSearch" align="left">
                        <div data-dojo-attach-point="divAddressPlaceHolder" class="esriCTAddressPlaceHolder">
                            <input type="text" data-dojo-attach-point="txtAddress" class="esriCTTxtAddress" onfocus="if(this.setSelectionRange)this.setSelectionRange(this.value.length, this.value.length);" />
                        </div>
                        <div class="esriCTSearchClose">
                            <img title="Clear" data-dojo-attach-point="closeButton" onclick="_hideText();" />
                        </div>
                        <div data-dojo-attach-point="divAddressList" class="esriCTAddressList">
                            <div data-dojo-attach-point="divAddressScrollContainer" class="divAddressScrollContainer"
                                align="left">
                                <div data-dojo-attach-point="divAddressScrollContent" class="esriCTAddressScrollContent">
                                    <div data-dojo-attach-point="divAddressResults" class="esriCTFullWidth" cellpadding="0"
                                        cellspacing="0">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="divfullContainer">
                            <img data-dojo-attach-point="imgSearchLoader" class="esriCTSearchLoader" />
                        </div>
                        <div data-dojo-attach-point="tdActivitySearch" style="display: none;">
                        </div>
                    </div>
                    <div data-dojo-attach-point="tdNameSearch">
                    </div>
                    <div data-dojo-attach-point="tdActivitySearch" style="display: none;">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
